@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');

:root {
  font-family: "Instrument Sans";
  --sansSerif: "Instrument Sans";
  --headings: "Instrument Sans";
  --smallBorderRadius: 11px;
  --primaryAccentColour: #4A7D98;
  --blue: #4A7D98;
  --yellow: #FFC857;
  --green: #62A56B;
  --red: #EF6461;
  --pink: #E6476C;
}

main {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
/* ss */
.topBar {
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: transparent;
  width: 100vw;
  min-height: 44px;
  height: fit-content;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 10px;
  padding-right: 15px;
  font-family: var(--sansSerif);
  transition: background 0.3s;
  box-sizing: border-box;
  z-index: 4000;
  /* border-bottom: 1px solid gainsboro; */
}

.topBarScrolled {
  background-color: rgba(255, 255, 255, 0.8);
  transition: background 0.3s;
  border-bottom: 1px solid var(--borderGrey) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.topBar img {
  box-shadow: none;
  margin-top: -9px;
  margin-bottom: -10px;
  margin-left: -5px;
}

h1 {
  font-family: var(--headings);
}

input, textarea {
  outline: none;
  padding: 8px;
  border-radius: var(--smallBorderRadius);
  border: 1px solid gainsboro;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 9.5px;
  padding-bottom: 9px;
  margin-bottom: 11px;
  width: calc(100% - 8px);
  box-sizing: border-box;
  font-family: var(--sansSerif);
  box-shadow: 2.5px 2.5px 10px rgb(230, 230, 230);
  transition: border 0.4s;
}

textarea {
  min-height: 80px;
}

input:focus, textarea:focus {
  border: 1px solid var(--primaryAccentColour);
  transition: border 0.4s;
}

button {
  border-radius: var(--smallBorderRadius);
  outline: none;
  border: none;
  padding-top: 10.3px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14.5px;
  font-family: var(--sansSerif);
  cursor: pointer;
  box-shadow: 2.5px 2.5px 10px rgb(230, 230, 230);
  margin-right: 14px;
  margin-bottom: 14px;
}

/* button: */

/* .primary {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
  border: 0.4px solid rgb(186, 186, 186);
  border-radius: 15px;
  padding: 12px 24px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgb(186, 186, 186), -5px -5px 15px #ffffff;
  transition: transform 0.2s, box-shadow 0.2s, width 2s;
  font-family: var(--font-dm-mono);
}

.primary:active {
  transform: scale(0.9);
  box-shadow: 4px 4px 20px rgb(186, 186, 186), -7px -7px 20px #ffffff;
} */

.primary {
  /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%); */
  background: black;
  /* background-color: var(--primaryAccentColour); */
  /* border: 0.4px solid rgb(186, 186, 186); */
  border-radius: var(--smallBorderRadius);
  display: inline-block;
  cursor: pointer;
  font-family: var(--font-dm-mono);
  color: white;
  transition: transform 0.2s, box-shadow 0.2s;
}

.secondary {
  background: gainsboro !important;
  color: black !important
}

button:hover, button:focus-visible {
  /* backdrop-filter: grayscale(40%); */
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0px 2.2px 9px 1.2px rgba(200, 200, 200, 0.3);
  transform: translateY(-2.2px);
  /* transform: scale(1.04); */
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

.yellow {
  background-color: var(--yellow);
  color: black
}

.red {
  background-color: var(--red);
}

.pink {
  background-color: var(--pink);
}



button:active {
  /* box-shadow: 0px 1px 5.5px rgba(150, 150, 150, 0.35) inset, 0px 2px 10px 0.5px rgba(190, 190, 190, 0.4); */
  box-shadow: none;
  transition: box-shadow 0.1s, transform 0.2s;
  transform: none;
  /* transform: scale(0.96); */
}

.twoColumn {
  display: grid;
}